.dve-landing-section {
    min-height: 650px;
    background: linear-gradient(to right, #0000008f, #08080830), url(../../../public/assets/images/video_editing.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.transparent{
    background: #6f6c6c5a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

}
.dve_row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-y);
}
.dve-landing-section .dve-landing-form-side {
    height: 500px;
    /* width: 90vw; */
    color: white;
    padding: 30px;
    align-content: space-evenly;
}
.dve-landing-section .dve-landing-form-side h1{
    color: #fff;
    text-align: left;
}
.dve-landing-section .dve-landing-form-side h4{
    width: fit-content;
    padding: 0px 10px;
    background-color: white;
    color: #000000;
    text-align: left;
}
.dve-course-software {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}