/* Base styles */
.mdma-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 0;
    background-color: #f8f9fa;
}
.mdma-content h1 {
    font-size: 3rem;
    color: #242021;
    font-weight: bold;
}
.mdma-content h2 {
    display: inline-block;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0px 50px 0px 20px;
    z-index: 2;
}
.mdma-content h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242021;
    z-index: -1;
    transform: skewX(-20deg);
    transform-origin: top left;
}
.mdma-content p {
    font-size: 1.1rem;
    color: #555;
}
.mdma-image img {
    border-radius: 8px;
    max-width: 100%;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f3f3f38c;
}


.mdma-landing-section {
    min-height: 650px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0000008f, #08080830), url(../../../public/assets/images/mdma_landing.jpg);
    color: white;
    padding: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mdma-landing-section .mdma-landing-form-side {
    height: 600px;
    background: #5151518a;
    color: white;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    align-content: space-evenly;
}
.mdma-landing-section .mdma-landing-form-side h1{
    color: #fff;
    text-align: left;
}
.mdma-landing-section .mdma-landing-form-side h4{
    color: #9c9c9c;
    text-align: left;
}


.mdma-course-section {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0;
    background-color: #f8f9fa;
}
.mdma-course-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.mdma-course-section h1 {
    text-align: center;
}
.mdma-course-content h2 {
    display: inline-block;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0px 50px 0px 20px;
    z-index: 2;
}
.mdma-course-content h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242021;
    z-index: -1;
    transform: skewX(-20deg);
    transform-origin: top left;
}
.mdma-course-software {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}
.mdma-course-career {
    background-color: rgba(157, 157, 157, 0.151);
    border-radius: 8px;
    padding: 20px;
}
.mdma-course-career h2 {
    color: #007bff;
}
.mdma-course-career h2::before {
    background-color: transparent;
}

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive styles */
@media (max-width: 1200px) {
    .mdma-content h1 {
        font-size: 2.5rem;
    }

    .mdma-content h2 {
        font-size: 1.8rem;
    }

    .mdma-content p {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .mdma-section {
        flex-direction: column;
        padding: 40px 0;
    }

    .mdma-content h1 {
        font-size: 2rem;
    }

    .mdma-content h2 {
        font-size: 1.6rem;
    }

    .mdma-content p {
        font-size: 0.9rem;
    }

    .mdma-image img {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .mdma-content h1 {
        font-size: 1.8rem;
    }

    .mdma-content h2 {
        font-size: 1.4rem;
    }

    .mdma-content p {
        font-size: 0.85rem;
    }

    .mdma-section {
        padding: 20px 0;
    }
}

@media (max-width: 576px) {
    .mdma-content h1 {
        font-size: 1.6rem;
    }

    .mdma-content h2 {
        font-size: 1.2rem;
    }

    .mdma-content p {
        font-size: 0.8rem;
    }

    .mdma-section {
        padding: 10px 0;
    }
}
