img.header_logo {
    width: 86px;
}

.navbar-nav .nav-link {
    color: #555 !important;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff !important;
}

.dropdown-menu a {
    color: #555 !important;
}

.dropdown-menu a:hover {
    color: #007bff !important;
}

.navbar-toggler {
    border: none;
}


header a.nav-link.active {
    font-size: 18px;
    font-weight: 600;
    color: #007bff !important;
}

header a.nav-link {
    font-size: 18px;
    font-weight: 600;
}

ul.navbar-nav.ms-auto {
    gap: 30px;
}



.dropdown-menu {
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #fff;
}